@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@font-face {
	font-family: League;
	src: url(LeagueMono-VF.woff);
	font-style: normal;
	font-stretch: 1% 500%;
}
:root {
	--list-item-color: #005ca5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* outline: 1px solid black; */
	width: 800px;
	margin: auto;
	font-family: "Merriweather", serif;
	font-size: 20px;
	margin-bottom: 1000px;
}
h1 {
	margin-bottom: 10px;
}
ul {
	list-style-position: inside;
}
li {
	margin-bottom: 40px;
	padding: 10px;
}

li > p {
	font-weight: 900;
	display: inline-block;
	position: relative;
	left: -10px;
}
li::marker {
	color: var(--list-item-color);
}
p {
	margin-bottom: 10px;
}
a,
a:visited {
	color: var(--list-item-color);
}

span {
	color: blue;
}
.ex {
	padding-left: 30px;
}
.ex-flex {
	padding-left: 20px;
	padding-top: 20px;
	display: flex;
	height: 400px;
}
.ex-flex p {
	margin-left: 20px;
}
.frame {
	outline: 1px solid black;
}
.color {
	color: red;
}
.font-style {
	font-style: normal;
}
.font-style-italic {
	font-style: italic;
}
.font-style-oblique {
	font-style: oblique;
}
.play strong {
	float: right;
}
/* Font-variant */
.small-caps {
	font-variant: small-caps;
}
.all-small-caps {
	font-variant: all-small-caps;
}
.unicase {
	font-variant: unicase;
}
.no-ligatures {
	font-family: "Fira Sans", sans-serif;
	font-variant: normal;
}
.ligatures {
	font-family: "Fira Sans", sans-serif;
	font-variant: no-common-ligatures;
}
.lining {
	font-variant: lining-nums;
}
/* Text-decoration */
.underline {
	text-decoration: underline;
}
.underline-position {
	text-decoration: underline;
	text-underline-position: under;
}
.underline-offset {
	text-decoration: underline;
	text-underline-offset: 5px;
}
.overrline {
	text-decoration: overline;
}
.line-through {
	text-decoration: line-through;
}
.dec-multiple {
	text-decoration: underline overline line-through;
}
.dec-multiple-color {
	text-decoration: underline overline line-through red;
}
.dec-multiple-style {
	text-decoration: underline overline line-through wavy;
}
.dec-multiple-style-color {
	text-decoration: underline overline line-through dotted red;
}
.double {
	text-decoration: underline double;
}
.dashed {
	text-decoration: underline dashed;
}
.dec-thickness {
	text-decoration: underline 5px;
}
/* Text-shadow */
.text-shadow {
	text-shadow: 2px 2px 2px black;
}
.text-shadow-blured {
	text-shadow: 0 0 10px #000;
}
.text-shadow-multiple {
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
/* Text-align */
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.text-align-center {
	text-align: center;
}
.text-align-justify {
	text-align: justify;
}
.hyphens {
	hyphens: auto;
}
/* Text-align-last */
.ex p.text-align-last:nth-child(1) {
	text-align-last: start;
}
.ex p.text-align-last:nth-child(2) {
	text-align-last: center;
}
.ex p.text-align-last:nth-child(3) {
	text-align-last: right;
}
.ex p.text-align-last:nth-child(4) {
	text-align-last: justify;
}
/* Text-indent */
.text-indent {
	text-indent: 60px;
}
/* Line-height */
.line-height-1 {
	line-height: 1;
}
.line-height-normal {
	line-height: normal;
}
.line-height-2 {
	line-height: 2;
}
/* Letter-spacing */
.letter-spacing-normal {
	letter-spacing: normal;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}
.letter-spacing-negative2 {
	letter-spacing: -2px;
}
.letter-spacing-negative5 {
	letter-spacing: -5px;
}
/* Word-spacing */
.word-spacing-normal {
	word-spacing: normal;
}
.word-spacing-positive {
	word-spacing: 20px;
}
.word-spacing-negative {
	word-spacing: -10px;
}
/* Font-stretch */
.stretch {
	font-family: League;
	font-stretch: ultra-condensed;
}
.ex p.stretch:nth-child(2) {
	font-stretch: normal;
}
.ex p.stretch:nth-child(3) {
	font-stretch: ultra-expanded;
}
/* Text-overflow */
.text-overflow {
	outline: 1px solid black;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* White-space */
.white-space {
	outline: 1px solid black;
	width: 550px;
	white-space: normal;
}
.ex p.white-space:nth-child(2) {
	white-space: nowrap;
}
.ex p.white-space:nth-child(3) {
	white-space: pre;
}
.ex p.white-space:nth-child(4) {
	white-space: pre-wrap;
}
.ex p.white-space:nth-child(5) {
	white-space: pre-line;
}
.ex p.white-space:nth-child(5) {
	white-space: break-spaces;
}
.overflow-wrap {
	overflow-wrap: normal;
	width: 290px;
	outline: 1px solid black;
}
.ex p.overflow-wrap:nth-child(2) {
	overflow-wrap: anywhere;
	width: 290px;
	outline: 1px solid black;
}
.ex p.overflow-wrap:nth-child(3) {
	overflow-wrap: break-word;
	width: 290px;
	outline: 1px solid black;
}
/* Word-break */
.word-break {
	width: 290px;
	outline: 1px solid black;
	word-break: normal;
}
.ex p.word-break:nth-child(2) {
	word-break: break-all;
}
.ex p.word-break:nth-child(3) {
	word-break: keep-all;
}
/* Direction */
.direction {
	direction: ltr;
}
.ex p.direction:nth-child(2) {
	direction: rtl;
}
/* Writing mode */
.writing-mode {
	writing-mode: horizontal-tb;
}
.ex p.writing-mode:nth-child(2) {
	writing-mode: vertical-lr;
}
.ex p.writing-mode:nth-child(3) {
	writing-mode: vertical-rl;
}
/* Text orientation */
.text-orientation {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	height: fit-content;
}
.ex-flex p.text-orientation:nth-child(2) {
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.ex-flex p.text-orientation:nth-child(3) {
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}
/* List-style-type */
.ex li {
	margin-bottom: 10px;
	padding: 5px;
}
.disc {
	list-style-type: disc;
}
.circle {
	list-style-type: circle;
}
.square {
	list-style-type: square;
}
.none {
	list-style-type: none;
}
.decimal {
	list-style-type: decimal;
}
.georgian {
	list-style-type: georgian;
}
.trad-chin {
	list-style-type: trad-chinese-informal;
}
.kannada {
	list-style-type: kannada;
}
.upper-roman {
	list-style-type: upper-roman;
}
.string {
	list-style-type: "\1F970";
}
/* List-style-position */
.li-inside {
	list-style-position: inside;
}
.li-outside {
	list-style-position: outside;
}
li.li-inside,
li.li-outside {
	outline: 1px solid black;
	background-color: rgba(0, 100, 0, 0.1);
}
/* List-style-image */
.star {
	list-style-image: url(1-red-star-png-image-thumb.png);
}
